//  Foundation for Emails Settings
//  ------------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Grid
//   3. Block Grid
//   4. Typography
//   5. Button
//   6. Callout
//   7. Menu
//   8. Thumbnail


// 1. Global
// ---------

/// Primary color for interactive components like links and buttons.
/// @type Color
$primary-color: #2199e8 !default;

/// Secondary color, used with components that support the `.secondary` class.
/// @type Color
$secondary-color: #777777 !default;

/// Color to indicate a positive status or action, used with the `.success` class.
/// @type Color
$success-color: #3adb76 !default;

/// Color to indicate a caution status or action, used with the `.warning` class.
/// @type Color
$warning-color: #ffae00 !default;

/// Color to indicate a negative status or action, used with the `.alert` class.
/// @type Color
$alert-color: #ec5840 !default;

/// Color used for light gray UI items within Foundation.
/// @type Color
$light-gray: #f3f3f3 !default;

/// Color used for medium gray UI items within Foundation.
/// @type Color
$medium-gray: #cacaca !default;

/// Color used for dark gray UI items within Foundation.
/// @type Color
$dark-gray: #8a8a8a !default;

/// Color used for black ui items within Foundation
/// @type Color
$black: #0a0a0a !default;

/// Color used for white ui items within Foundation
/// @type Color
$white: #fefefe !default;

/// Color used code.
/// @type Color
$pre-color: #ff6908 !default;

/// Width of the container.
/// @type Number
$global-width: 580px !default;

/// Width of the container on small screens.
/// @type Length
$global-width-small: 95% !default;

/// Gutter for grid elements.
/// @type length
$global-gutter: 16px !default;

/// Body background color.
/// @type Length
$body-background: $light-gray !default;

/// Color for the container background
/// @type Color
$container-background: $white !default;

/// Global padding.
/// @type Number
$global-padding: 16px !default;

/// Global margin. Margin requires a capital 'M' to workin Outlook.com
/// @type Number
$global-margin: 16px !default;

/// Global radius of radius-corners.
/// @type Number
$global-radius: 3px !default;

/// Global rounded radius of rounded-corners.
/// @type Number
$global-rounded: 500px !default;

/// Global media query to switch from desktop to mobile styles.
/// @type String
$global-breakpoint: $global-width + $global-gutter !default;

// 2. Grid
// -------

/// Default number of columns for an email.
/// @type Number
$grid-column-count: 12 !default;

/// Default padding for the bottom of a column.
/// @type Number
$column-padding-bottom: $global-padding !default;

/// Default border radius for the container. Use a px value
/// @type Number
$container-radius: 0 !default;

// 3. Block Grid
// -------------

/// The highest number of `.x-up` classes available when using the block grid CSS.
/// @type Number
$block-grid-max: 8 !default;

/// Gutter between elements in a block grid.
/// @type Number
$block-grid-gutter: $global-gutter !default;

// 4. Typography
// -------------

/// Global font color.
/// @type Color
$global-font-color: $black !default;

/// Global font family.
/// @type Font
$body-font-family: Helvetica, Arial, sans-serif !default;

/// Global font weight.
/// @type Keyword
$global-font-weight: normal !default;

/// Header color
/// @type Color
$header-color: inherit !default;

/// Global line height.
/// @type Number
$global-line-height: 130% !default;

/// Font size of body text.
/// @type Number
$global-font-size: 16px !default;

/// Line height of body text.
/// @type Number
$body-line-height: $global-line-height !default;

/// Font family of headings.
/// @type List
$header-font-family: $body-font-family !default;

/// Font family of headings.
/// @type List
$header-font-weight: $global-font-weight !default;

/// Font size of `<h1>` elements.
/// @type Number
$h1-font-size: 34px !default;

/// Font size of `<h2>` elements.
/// @type Number
$h2-font-size: 30px !default;

/// Font size of `<h3>` elements.
/// @type Number
$h3-font-size: 28px !default;

/// Font size of `<h4>` elements.
/// @type Number
$h4-font-size: 24px !default;

/// Font size of `<h5>` elements.
/// @type Number
$h5-font-size: 20px !default;

/// Font size of `<h6>` elements.
/// @type Number
$h6-font-size: 18px !default;

/// Margin bottom of `<h1>` through `<h6>` elements.
/// @type Number
$header-margin-bottom: 10px !default;

/// Margin bottom of paragraphs.
/// @type Number
$paragraph-margin-bottom: 10px !default;

/// Default font size for `<small>`.
/// @type Number
$small-font-size: 80% !default;

/// Color of `<small>` elements when placed inside headers.
/// @type Color
$small-font-color: $medium-gray !default;

/// Font size of lead paragraphs.
/// @type Number
$lead-font-size: $global-font-size * 1.25 !default;

/// Line height of lead paragraphs.
/// @type Number
$lead-line-height: 160% !default;

/// Padding inside paragraphs.
/// @type Number
$text-padding: 10px !default;

/// Default line height for subheaders.
/// @type Number
$subheader-lineheight: 1.4 !default;

/// Default font color for subheaders.
/// @type Color
$subheader-color: $dark-gray !default;

/// Default font weight for subheaders.
/// @type String
$subheader-font-weight: $global-font-weight !default;

/// Default top margin for subhheaders.
/// @type Number
$subheader-margin-top: 4px !default;

/// Default bottom margin for subheaders.
/// @type Number
$subheader-margin-bottom: 8px !default;

/// Maximum width of a divider.
/// @type Number
$hr-width: $global-width !default;

/// Default border for a divider.
/// @type List
$hr-border: 1px solid $body-background !default;

/// Default margin for a divider.
/// @type Number | List
$hr-margin: 20px auto !default;

/// Text decoration for anchors.
/// @type Keyword
$anchor-text-decoration: none !default;

/// Text color of anchors.
/// @type Color
$anchor-color: $primary-color !default;

/// Text color of anchors to visited links.
/// @type Color
$anchor-color-visited: $anchor-color !default;

/// Text color of anchors on hover.
/// @type Color
$anchor-color-hover: darken($primary-color, 10%) !default;

/// Text color of active anchors.
/// @type Color
$anchor-color-active: $anchor-color-hover !default;

/// Default font size for statistic numbers.
/// @type Number
$stat-font-size: 40px !default;

/// Removing the iOS telephone and address styling
/// @type Boolean
$remove-ios-blue: true !default;

// 5. Button
// ---------

/// Padding inside buttons at various sizes.
/// @type Map
$button-padding: (
  tiny: 4px 8px 4px 8px,
  small: 5px 10px 5px 10px,
  default: 8px 16px 8px 16px,
  large: 10px 20px 10px 20px,
) !default;

/// Font sizes of buttons at various sizes.
/// @type Map
$button-font-size: (
  tiny: 10px,
  small: 12px,
  default: 16px,
  large: 20px,
) !default;

/// Text color of buttons.
/// @type Color
$button-color: $white !default;

/// Text color of buttons with a light background.
/// @type Color
$button-color-alt: $medium-gray !default;

/// Font weight of buttons.
/// @type Weight
$button-font-weight: bold !default;

/// Margin around buttons.
/// @type List
$button-margin: 0 0 $global-margin 0 !default;

/// Background color of buttons.
/// @type Color
$button-background: $primary-color !default;

/// Border around buttons.
/// @type Border
$button-border: 2px solid $button-background !default;

/// Border radius of buttons. Not supported by all email clients.
/// @type Number
$button-radius: $global-radius !default;

/// Border radius of rounded buttons. Not supported by all email clients.
/// @type Number
$button-rounded: $global-rounded !default;

// 6. Callout
// ----------

/// Background color of a callout.
/// @type Color
$callout-background: $white !default;

/// Fade value for callout backgrounds.
/// @type Number
$callout-background-fade: 85% !default;

/// Padding inside a callout.
/// @type Length
$callout-padding: 10px !default;

/// Bottom margin of a callout.
/// @type Length
$callout-margin-bottom: $global-margin !default;

/// Border around a callout.
/// @type Border
$callout-border: 1px solid darken($callout-background, 20%) !default;

/// Border around a callout with the `.success` class.
/// @type Border
$callout-border-secondary: 1px solid darken($secondary-color, 20%) !default;

/// Border around a callout with the `.success` class.
/// @type Border
$callout-border-success: 1px solid darken($success-color, 20%) !default;

/// Border around a callout with the `.warning` class.
/// @type Border
$callout-border-warning: 1px solid darken($warning-color, 20%) !default;

/// Border around a callout with the `.alert` class.
/// @type Border
$callout-border-alert: 1px solid darken($alert-color, 20%) !default;

// 7. Menu
// -------

/// Padding inside a menu item.
/// @type Length
$menu-item-padding: 10px !default;

/// Right-hand spacing of items in menus with the `.simple` class.
/// @type Length
$menu-item-gutter: 10px !default;

/// This is the color of the menu item links.
/// @type Color
$menu-item-color: $primary-color !default;

// 8. Thumbnail
// ------------

/// Border around thumbnail images.
/// @type Border
$thumbnail-border: solid 4px $white !default;

/// Bottom margin for thumbnail images.
/// @type Length
$thumbnail-margin-bottom: $global-margin !default;

/// Box shadow under thumbnail images.
/// @type Shadow
$thumbnail-shadow: 0 0 0 1px rgba($black, 0.2) !default;

/// Box shadow under thumbnail images.
/// @type Shadow
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5) !default;

/// Transition proprties for thumbnail images.
/// @type Transition
$thumbnail-transition: box-shadow 200ms ease-out !default;

/// Default radius for thumbnail images.
/// @type Number
$thumbnail-radius: $global-radius !default;
