// Foundation for Emails by ZURB
// zurb.com/ink/
// Licensed under MIT Open Source

////
/// @group block-grid
////

.block-grid {
  width: 100%;
  max-width: $global-width;

  td {
    display: inline-block;
    padding: $block-grid-gutter / 2;
  }
}

// Sizing classes
@for $i from 2 through $block-grid-max {
  .up-#{$i} td {
    width: floor(($global-width - $i * $block-grid-gutter) / $i) !important;
  }
}
