extends partials/layout-styleguide


append meta
  - var title = "Mustra emails styleguide"

//- Mixins for the styleguide
mixin sectionHeading(name)
  h1.styleguide-divider
    =name
    span.styleguide-divider-actions.fade
      a(href="#top", data-scroll="smooth", class="button button-xs button-default") back to top

block content

  .container#top

    header.page-header
      nav
        a(href="/", class="page-header-logo")
          img(src="https://i.imgur.com/A0a2nSb.png", width="173", height="40", alt="Mustra")

    section.styleguide-section
      +sectionHeading("Navigation")

      .row
        .col-sm-3.col-sm-offset-3

          p.upcase Emails
          ul.list-unstyled
            li
              a(href=plainUrl) Plain

    hr.mt-lg.mb-lg

    .row.mb-lg
      .col-sm-8.quiet.text-xs
        p
          strong The MIT License (MIT)
        p Copyright  2017 <a href="http://sprawsm.com/" class="link-quiet">Sprawsm doo</a>
        p Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
        p The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
        p The software is provided "as is", without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement. In no event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in connection with the software or the use or other dealings in the software.
