extends partials/layout

append meta
  - var title = "Plain email template"

block content

  include partials/_header

  // Content
  table(align="center")
    tr
      td
        | MAIN CONTENT

  include partials/_footer
