mixin row
  table.row
    tbody
      tr
        block

mixin column(classes)
  td(class=classes)
    block

mixin spacer(size)
  - var size = size ? size : "16px";
  table.spacer
    tbody
      tr
        td(height=size, style="font-size:" + size + ";line-height:" + size + ";") &#xA0;

mixin hr(size)
  - var size = size ? size : "2px";
  table.spacer
    tbody
      tr
        td.hr(height=size, style="font-size:" + size + ";line-height:" + size + ";") &#xA0;
