//- META BLOCK
//- Used for the <head> section of the website.
//- All variables can be overwritten in any template with `append meta` block
block meta
    //- General
    - var title = "Emails build kit"

    //- Paths
    - var assetsPath = "assets/"
    - var imagesPath = assetsPath + "images/"
    - var cssPath = assetsPath + "css/"

//- TEMPLATE VARIABLES
//- Various variables used in template files.
- var plainUrl = 'plain.html';
