doctype html

html(lang="en", prefix="og: http://ogp.me/ns#")

  include _variables

  title=title
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")

  link(rel="stylesheet", href=cssPath + "styleguide.css")

  body

    block content

      p Your content goes here.
