//- DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
doctype strict

html(xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en")

  include _variables

  include _mixins

  include _head

body

  table.body

    tr

      td.center(align="center", valign="top")

        center

          block content

            p Your content goes here.
