// MUSTRA MIXINS
//

// Clearfix

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Links

@mixin link-variant($link-color, $link-color-hover) {
  color: $link-color;

  &:focus,
  &:hover {
    color: $link-color-hover;
  }
}

// Buttons

@mixin button-flavor($button-color, $button-background-base) {
  color: $button-color;
  background: $button-background-base;

  &:focus,
  &:hover {
    background: darken($button-background-base,5%);
    color: $button-color;
  }

  &:active {
    background: darken($button-background-base,10%);
  }
}

// Bootstrap Form Mixins

// Form control focus state
//
// Generate a customized focus state and for any input with the specified color,
// which defaults to the `$input-border-focus` variable.
//
// We highly encourage you to not customize the default value, but instead use
// this to tweak colors on an as-needed basis. This aesthetic change is based on
// WebKit's default styles, but applicable to a wider range of browsers. Its
// usability and accessibility should be taken into account with any change.
//
// Example usage: change the default blue border and shadow to white for better
// contrast against a dark gray background.
@mixin form-control-focus() {
  &:focus {
    color: $input-color-focus;
    background-color: $input-bg-focus;
    border-color: $input-border-focus;
    outline: none;

    // Animate placeholder text (e.g. slide-out to the right)
    &::placeholder {
      opacity: 0;
      transform: translate($input-placeholder-focus-offset);
    }
  }
}
