// MUSTRA CUSTOM STYLES

* { box-sizing: border-box; } // Make life easier

// Renormalize

figure {
  margin: 1em auto;
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  background-color: #fff;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-link-hover;
    text-decoration: none;
  }
}

img {
  vertical-align: middle;
}

hr {
  margin-top: $grid-gutter;
  margin-bottom: $grid-gutter;
  border: 0;
  border-top: 1px solid $color-quiet;
}

// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

[role="button"] {
  cursor: pointer;
}
