// SHAME
//
// This file includes all custom styles for the styleguide
// and should be extracted in some partials .less files

code {
  background-color: $color-shaded;
  padding: 0 $spacing-sm 2px $spacing-sm;
  border-radius: $border-radius-sm;
  color: darken($color-success,20%);
}

.styleguide-section {
  margin-top: $spacing-xl;

  &:hover .styleguide-divider-actions {
    opacity: 1;
  }
}

.styleguide-divider {
  font-size: $font-size-xs;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: $spacing-xl;
  margin-bottom: $spacing-xl;
  padding-top: $spacing-sm;
  border-top: 2px solid $color-shaded;
}

.styleguide-divider-actions {
  float: right;
  margin-top: -$spacing-xs;
}

.styleguide-content {
  font-size: $font-size-xs;
  color: $color-quiet;
}

.styleguide-grid-cell {
  height: $grid-gutter;
  padding: $spacing-sm;
  line-height: 1;
  background: $color-shaded;
  margin: $spacing-sm 0;
  border-radius: $border-radius-base;
}

.page-header {
  margin-top: 40px;
}
